{% extends 'base.html.twig' %}

{% block title %}liste of Classroom {% endblock %}

{% block stylesheets %}
    {{ parent() }}
 <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
{% endblock %}



{% block body %}
    <h1>Liste of Classroom </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classroom in classrooms %}
            <tr>
                <td>{{ classroom.ref }}</td>
                <td>{{ classroom.name }}</td>
                <td>{{ classroom.createdAt ? classroom.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
          <a href="{{ path('app_classroom_show', {'ref': classroom.ref}) }}" class="btn btn-info">Show</a>
          <a href="{{ path('app_classroom_edit', {'ref': classroom.ref}) }}" class="btn btn-warning">Edit</a>
          <a href="{{ path('app_classroom_delete', {'ref': classroom.ref}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_classroom_new') }}">Create new</a>
{% endblock %}
