{% extends 'base.html.twig' %}

{% block title %}lise des etudiants {% endblock %}


{% block stylesheets %}
    {{ parent() }}
 <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
{% endblock %}

{% block body %}
    <h1>Etudiant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Classroom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.name }}</td>
                <td>{{ etudiant.email }}</td>
                <td>{{ etudiant.age }}</td>
                <td>{{ etudiant.classroom }}</td>
                <td>
                    <a href="{{ path('app_etudiant_show', {'id': etudiant.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ path('app_etudiant_delete', {'id': etudiant.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_new') }}">Create new</a>
{% endblock %}
